<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.example.android.testingkeyboard">
    <uses-sdk android:minSdkVersion="14"
    android:targetSdkVersion="19" />
    <application android:label="@string/ime_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <service android:name="com.harms.johnathan.testingkeyboard.SoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

    </application>
</manifest>
